.OnePaper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5em;
}

.Implementations {
    display: flex;
    flex-direction: column;
}

.ImplementaionsHeader {
    text-align: left;
    margin-left: 2em;
    font-weight: bold;
}
