.OnePaper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5em;
}

.Papers {
    display: flex;
    flex-direction: column;
}

.PaperHeader {
    text-align: left;
    margin-left: 2em;
    font-weight: bold;
}

.YearHeader {
    text-align: left;
    margin-left: 2em;
    font-weight: bold;
}